<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <form action="/users/submit" method="POST">
      <table>
        <tr>
          <td>Name:</td>
          <td><input type="text" name="name" /></td>
        </tr>
        <tr>
          <td>Date Of Birth :</td>
          <td><input type="date" name="dob" /></td>
        </tr>
        <tr>
          <td>Gender:</td>
          <td><input type="text" name="gender" /></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td><input type="email" name="email_id" /></td>
        </tr>
        <tr>
          <td>Mobile Number:</td>
          <td><input type="tel" name="mobile_no" /></td>
        </tr>
        <tr>
          <td>Local Address:</td>
          <td><input type="text" name="address" /></td>
        </tr>
        <tr>
          <td>State :</td>
          <td><input type="text" name="state" /></td>
        </tr>
        <tr>
          <td>City :</td>
          <td><input type="text" name="city" /></td>
        </tr>
        <tr>
          <td>Addhar Id:</td>
          <td><input type="text" name="aadhar_id" /></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><input type="password" name="password" /></td>
        </tr>
        <tr>
          <td>Image:</td>
          <td><input type="file" name="pic" /></td>
        </tr>
        <tr>
          <td><input type="submit" /></td>
          <td><input type="reset" /></td>
        </tr>
      </table>
    </form>
  </body>
</html>
